.form-grup {
	display: inline;

}

.control-form {
	width: 80%;
}

p {
	margin-left: 110px;
}

.chip{
    display:inline-block;
    height:32px;
    font-size:13px;
    font-weight:500;
    color:rgba(0,0,0,0.6);
    line-height:32px;
    padding:0 12px;
    border-radius:16px;
    background-color:#E4E4E4 
}

form button.btn {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

h4 {
	text-align: center;
}